###################################
# Application
###################################

NODE_ENV=development

###################################
# Backend
###################################

PORT=5000

###################################
# Database
###################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=marketflow
DB_USER=postgres
DB_PASSWORD=change_me

###################################
# Frontend
###################################

VITE_API_URL=http://localhost:5000

###################################
# Docker
###################################

COMPOSE_PROJECT_NAME=marketflow

###################################
# Jenkins
###################################

DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=

###################################
# AWS
###################################

AWS_REGION=ap-south-1

###################################
# Kubernetes
###################################

NAMESPACE=marketflow