# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build
dist/
build/
coverage/

# Environment
.env
.env.*

!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
*.pid

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
*.kubeconfig

# Jenkins
.jenkins/

# Misc
tmp/
temp/